@{
    ViewBag.Title = "Remont бытовой техники!";
}

<div class="jumbotron">
    Служба ремонта бытовой техники
</div>

<div class="row">
    Ремонтируем бытовую технику, принимаем в разной валюте (даже в крипте), возможна самостоятельная закупка деталей клиентом.
</div>